/* font shearad */
body{
    font-family: 'Work Sans', sans-serif;
}
/* head-section */
*{
    margin: 0;
}
/* head-section */
header{
    background-image: url(images/banner/banner3.png);
}
.head-section{
   text-align: right;
   padding:216px 230px 364px 740px;
}

.h1-tag{
    color: #FFF;
    text-align: right;
    font-size: 36px;;
    font-weight: 700;
    padding-bottom: 0;

}
.paragraph{
    color: #FFF;
    font-size:12px;
    font-weight: 400;
    padding-top: 7px;
    padding-bottom: 8px;

}
.button{
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 11px 22px;
}

/* main section style */
.section-image{
    display: flex;
    align-items: center;
}
.logo-image{
    width: 400px;
    height: 550px;
    flex-shrink: 0;
    margin: 140px;
    
}
.section-text{
    padding: 120px ;
.h1-text{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 19px;
}

}
.paragraph-2{
    color: #444343;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px
    
}
.list-item{
    color: #444343;
    font-size: 10px;
    font-weight: 400;
    margin-top: 19px;
}

/* My Plans section style */

.about{
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.my-plans-section{
    display: flex;
    justify-content: space-around;
    margin:80px;
}
/* .plan-item-text-1{ */
    text-align: center;
}
.plans-item-1{
    text-align: center;
    align-items:center;
}